{% extends "layout.jinja2" %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <h4>Hi!</h4>
                <h5>Welcome to the most advanced and secure password manager!</h5>
                <h6>We even have 2FA!</h6>
                <p>How's that for protection?</p>
            </div>
        </div>
    </div>
{% endblock content %}
